doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/style1.css')
    scrpit(type='text/javascript', src='/javascripts/login.js')
    
    //- block scrpits
  body
    block content
