extends layout

block scripts
  script(src='/javascripts/login.js')

block content
  input(id='username', placeholder='请输入账号')
  br
  br
  input(id='password', placeholder='请输入密码', password='{{true}}')
  br
  br
  button(onclick='login()')='登录'

  
  
